/* Popup */
.ewj-body {
  margin: 0;
  background: #fff;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
}

.ewj-settings-container {
  width: 280px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px rgba(9, 30, 66, 0.15);
  overflow: hidden;
  margin: 0px auto;
}

.ewj-settings-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-height: 40px;
  padding: 0 12px;
  border-bottom: 1px solid #dee3ed;
  background: #f8f9fc;
}

.ewj-settings-section {
  padding: 12px 16px;
  border-bottom: 1px solid #dfe1e6;
}

.ewj-settings-section-main-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  color: #5E6C84;
}

.ewj-settings-section-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #5E6C84;
}

.ewj-setting-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.ewj-setting-item:last-child {
  margin-bottom: 0;
}

.ewj-toggle-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  margin-right: 8px;
}

.ewj-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ewj-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.ewj-toggle-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.ewj-toggle-slider {
  background-color: #0052CC;
}

input:checked+.ewj-toggle-slider:before {
  transform: translateX(16px);
}

.ewj-setting-label {
  font-size: 14px;
  color: #172B4D;
}

.ewj-divider {
  height: 1px;
  background-color: #dfe1e6;
  margin: 8px 0;
}

#ewj-reload-message {
  margin-left: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: #4CAF50;
  border-radius: 3px;
  padding: 5px;
}

.ewj-fields-section {
  padding: 12px 16px;
}
/* End Popup */


.ewj-fresizer-width {
  width: '32px !important';
}

#ewj-span-shrink-expand {
  display: inline-block;
  width: 24px;
  height: 24px;
  /* margin-top: -15px;
  margin-right: -15px; */
}

#ewj-span-collapse-open {
  display: inline-block;
  width: 32px;
  height: 32px;
  /* margin-top: 10px; */
}

.ewj-span-logo {
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}


.ewj-img-link {
  text-decoration: none;
  outline: none;
}

.ewj-img-link:focus,
.ewj-img-link:active,
.ewj-img-link:hover {
  outline: none;
  box-shadow: none;
}

.ewj-logo16 {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(204,204,204);fill-opacity:1;" d="M 7.90625 0.09375 C 7.90625 1.9375 9.414062 3.4375 11.230469 3.4375 L 12.589844 3.4375 L 12.589844 4.746094 C 12.589844 6.59375 14.074219 8.085938 15.90625 8.09375 L 15.90625 0.738281 C 15.90625 0.382812 15.621094 0.09375 15.265625 0.09375 Z M 7.90625 0.09375 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(204,204,204);fill-opacity:1;" d="M 8.101562 15.941406 C 8.097656 14.09375 6.585938 12.597656 4.769531 12.605469 L 3.410156 12.609375 L 3.40625 11.300781 C 3.398438 9.453125 1.914062 7.964844 0.078125 7.964844 L 0.101562 15.316406 C 0.101562 15.675781 0.386719 15.960938 0.742188 15.960938 Z M 8.101562 15.941406 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(204,204,204);fill-opacity:1;" d="M 4.40625 3.59375 C 4.40625 5.4375 5.914062 6.9375 7.730469 6.9375 L 9.089844 6.9375 L 9.089844 8.246094 C 9.089844 10.09375 10.574219 11.585938 12.40625 11.59375 L 12.40625 4.238281 C 12.40625 3.882812 12.121094 3.59375 11.765625 3.59375 Z M 4.40625 3.59375 "/></g></svg>');
}

.ewj-logo16:hover {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 7.90625 0.09375 C 7.90625 1.9375 9.414062 3.4375 11.230469 3.4375 L 12.589844 3.4375 L 12.589844 4.746094 C 12.589844 6.59375 14.074219 8.085938 15.90625 8.09375 L 15.90625 0.738281 C 15.90625 0.382812 15.621094 0.09375 15.265625 0.09375 Z M 7.90625 0.09375 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 8.101562 15.941406 C 8.097656 14.09375 6.585938 12.597656 4.769531 12.605469 L 3.410156 12.609375 L 3.40625 11.300781 C 3.398438 9.453125 1.914062 7.964844 0.078125 7.964844 L 0.101562 15.316406 C 0.101562 15.675781 0.386719 15.960938 0.742188 15.960938 Z M 8.101562 15.941406 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 4.40625 3.59375 C 4.40625 5.4375 5.914062 6.9375 7.730469 6.9375 L 9.089844 6.9375 L 9.089844 8.246094 C 9.089844 10.09375 10.574219 11.585938 12.40625 11.59375 L 12.40625 4.238281 C 12.40625 3.882812 12.121094 3.59375 11.765625 3.59375 Z M 4.40625 3.59375 "/></g></svg>');
}

.ewj-logo24 {
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 11.859375 0.140625 C 11.859375 2.90625 14.121094 5.15625 16.84375 5.15625 L 18.882812 5.15625 L 18.882812 7.121094 C 18.882812 9.890625 21.109375 12.128906 23.859375 12.140625 L 23.859375 1.109375 C 23.859375 0.574219 23.429688 0.140625 22.898438 0.140625 Z M 11.859375 0.140625 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 12.152344 23.914062 C 12.148438 21.140625 9.878906 18.898438 7.15625 18.90625 L 5.117188 18.914062 L 5.109375 16.953125 C 5.097656 14.179688 2.871094 11.949219 0.117188 11.949219 L 0.152344 22.976562 C 0.152344 23.515625 0.578125 23.941406 1.113281 23.941406 Z M 12.152344 23.914062 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 6.609375 5.390625 C 6.609375 8.15625 8.871094 10.40625 11.59375 10.40625 L 13.632812 10.40625 L 13.632812 12.367188 C 13.632812 15.140625 15.859375 17.378906 18.609375 17.390625 L 18.609375 6.359375 C 18.609375 5.824219 18.179688 5.390625 17.648438 5.390625 Z M 6.609375 5.390625 "/></g></svg>');
}

.ewj-logo32 {
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 32 32" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 15.8125 0.1875 C 15.8125 3.875 18.828125 6.875 22.460938 6.875 L 25.179688 6.875 L 25.179688 9.492188 C 25.179688 13.1875 28.148438 16.171875 31.8125 16.1875 L 31.8125 1.476562 C 31.8125 0.765625 31.242188 0.1875 30.53125 0.1875 Z M 15.8125 0.1875 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 16.203125 31.882812 C 16.195312 28.1875 13.171875 25.195312 9.539062 25.210938 L 6.820312 25.21875 L 6.8125 22.601562 C 6.796875 18.90625 3.828125 15.929688 0.15625 15.929688 L 0.203125 30.632812 C 0.203125 31.351562 0.773438 31.921875 1.484375 31.921875 Z M 16.203125 31.882812 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 8.8125 7.1875 C 8.8125 10.875 11.828125 13.875 15.460938 13.875 L 18.179688 13.875 L 18.179688 16.492188 C 18.179688 20.1875 21.148438 23.171875 24.8125 23.1875 L 24.8125 8.476562 C 24.8125 7.765625 24.242188 7.1875 23.53125 7.1875 Z M 8.8125 7.1875 "/></g></svg>');
}

.ewj-logo48 {
  width: 48px;
  height: 48px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px" viewBox="0 0 48 48" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 23.71875 0.28125 C 23.71875 5.8125 28.242188 10.3125 33.691406 10.3125 L 37.769531 10.3125 L 37.769531 14.238281 C 37.769531 19.78125 42.222656 24.257812 47.71875 24.28125 L 47.71875 2.214844 C 47.71875 1.148438 46.863281 0.28125 45.796875 0.28125 Z M 23.71875 0.28125 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 24.304688 47.824219 C 24.292969 42.28125 19.757812 37.792969 14.308594 37.816406 L 10.230469 37.828125 L 10.21875 33.902344 C 10.195312 28.359375 5.742188 23.894531 0.234375 23.894531 L 0.304688 45.949219 C 0.304688 47.027344 1.160156 47.882812 2.226562 47.882812 Z M 24.304688 47.824219 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 13.21875 10.78125 C 13.21875 16.3125 17.742188 20.8125 23.191406 20.8125 L 27.269531 20.8125 L 27.269531 24.738281 C 27.269531 30.28125 31.722656 34.757812 37.21875 34.78125 L 37.21875 12.714844 C 37.21875 11.648438 36.363281 10.78125 35.296875 10.78125 Z M 13.21875 10.78125 "/></g></svg>');
}

.ewj-logo64 {
  width: 64px;
  height: 64px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 31.625 0.375 C 31.625 7.75 37.65625 13.75 44.921875 13.75 L 50.359375 13.75 L 50.359375 18.984375 C 50.359375 26.375 56.296875 32.34375 63.625 32.375 L 63.625 2.953125 C 63.625 1.53125 62.484375 0.375 61.0625 0.375 Z M 31.625 0.375 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 32.40625 63.765625 C 32.390625 56.375 26.34375 50.390625 19.078125 50.421875 L 13.640625 50.4375 L 13.625 45.203125 C 13.59375 37.8125 7.65625 31.859375 0.3125 31.859375 L 0.40625 61.265625 C 0.40625 62.703125 1.546875 63.84375 2.96875 63.84375 Z M 32.40625 63.765625 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 17.625 14.375 C 17.625 21.75 23.65625 27.75 30.921875 27.75 L 36.359375 27.75 L 36.359375 32.984375 C 36.359375 40.375 42.296875 46.34375 49.625 46.375 L 49.625 16.953125 C 49.625 15.53125 48.484375 14.375 47.0625 14.375 Z M 17.625 14.375 "/></g></svg>');
}


.ewj-logo128 {
  width: 128px;
  height: 128px;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128px" height="128px" viewBox="0 0 128 128" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 63.25 0.75 C 63.25 15.5 75.3125 27.5 89.84375 27.5 L 100.71875 27.5 L 100.71875 37.96875 C 100.71875 52.75 112.59375 64.6875 127.25 64.75 L 127.25 5.90625 C 127.25 3.0625 124.96875 0.75 122.125 0.75 Z M 63.25 0.75 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 64.8125 127.53125 C 64.78125 112.75 52.6875 100.78125 38.15625 100.84375 L 27.28125 100.875 L 27.25 90.40625 C 27.1875 75.625 15.3125 63.71875 0.625 63.71875 L 0.8125 122.53125 C 0.8125 125.40625 3.09375 127.6875 5.9375 127.6875 Z M 64.8125 127.53125 "/><path style=" stroke:none;fill-rule:nonzero;fill:rgb(0,82,204);fill-opacity:1;" d="M 35.25 28.75 C 35.25 43.5 47.3125 55.5 61.84375 55.5 L 72.71875 55.5 L 72.71875 65.96875 C 72.71875 80.75 84.59375 92.6875 99.25 92.75 L 99.25 33.90625 C 99.25 31.0625 96.96875 28.75 94.125 28.75 Z M 35.25 28.75 "/></g></svg>');
}

.ewj-icon-open {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%230052cc' d='M2 6v20a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2m2 0h16v9H9.83l3.58-3.59L12 10l-6 6l6 6l1.41-1.41L9.83 17H20v9H4z'/%3E%3C/svg%3E");
  cursor: pointer;
}

.ewj-icon-collapse {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%230052cc' d='M2 6v20a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2m2 0h16v20H4v-9h10.17l-3.58 3.59L12 22l6-6l-6-6l-1.41 1.41L14.17 15H4z'/%3E%3C/svg%3E");
  cursor: pointer;
}

.ewj-icon-shrink {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%230052cc' stroke-linecap='round' stroke-linejoin='round' d='m.5 13.5l4-4M1 9.5h3.5V13m9 .5l-4-4m3.5 0H9.5V13M.5.5l4 4M1 4.5h3.5V1m9-.5l-4 4m3.5 0H9.5V1'/%3E%3C/svg%3E");
  cursor: pointer;
}

.ewj-icon-expand {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%230052cc' stroke-linecap='round' stroke-linejoin='round' d='m8.5 5.5l5-5m-4 0h4v4m-8 1l-5-5m4 0h-4v4m8 4l5 5m-4 0h4v-4m-8-1l-5 5m4 0h-4v-4'/%3E%3C/svg%3E");
  cursor: pointer;
}




/* ----------------- */

/* Estilos gerais do tooltip */
.ewj-tooltip-style {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  min-width: 200px;
  max-width: 700px;
  display: none;
  /* Inicialmente oculto */
}

.ewj-tooltip-content-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
}

/* Estilos do ícone de link */
.ewj-linked-issues-iconLink {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Crect width='24' height='24' fill='none'/%3E%3Cpath fill='%230052cc' d='m17.657 14.828l-1.415-1.414L17.658 12A4 4 0 1 0 12 6.343l-1.414 1.414L9.17 6.343l1.415-1.414a6 6 0 0 1 8.485 8.485zm-2.829 2.829l-1.414 1.414a6 6 0 0 1-8.485-8.485l1.414-1.414l1.414 1.414L6.343 12A4 4 0 0 0 12 17.657l1.414-1.414zm0-9.9l1.415 1.415l-7.072 7.07l-1.414-1.414z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilos do container do grupo de issues linkadas */
.ewj-issue-links-group-container {
  margin: var(--ds-space-100, 8px) 0;
  padding-right: var(--ds-space-025, 2px);
  padding-bottom: var(--ds-space-100, 8px);
}

.ewj-issue-links-group-container-h3 {
  letter-spacing: normal;
  margin-block: 0px;
  text-transform: none;
  font: var(--ds-font-heading-xxsmall, normal 600 12px / 16px ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif);
  color: var(--ds-text, #172B4D);
}

/* Estilos da lista de cards */
.ewj-ul-card-container {
  box-shadow: var(--ds-shadow-raised, 0 1px 1px #091e4240, 0 0 1px 1px #091e4221);
  background-color: var(--ds-surface-raised, #fafbfc);
  border-radius: 3px;
  padding: var(--ds-space-0, 0);
}

.ewj-list-item {
  background-color: var(--ds-background-neutral-subtle, #fff);
  display: flex;
  position: relative;
  padding: 0 var(--ds-space-100, 8px);
  border-bottom: 1px solid var(--ds-border, #ebecf0);
  cursor: pointer;
  border-top-left-radius: var(--ds-border-radius, 3px);
  border-top-right-radius: var(--ds-border-radius, 3px);
  border-bottom-left-radius: var(--ds-border-radius, 3px);
  border-bottom-right-radius: var(--ds-border-radius, 3px);
  border-bottom: none;
  height: var(--ds-space-500, 40px);
  border-bottom-color: #0000;
}

/* Estilos do container do card de issue */
.ewj-issue-line-card-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilos do tipo de issue */
.ewj-issue-line-issue-type {
  display: grid;
  grid-template-areas: slot;
  align-items: center;
  justify-items: center;
  --action-opacity: 1;
  --action-opacity: 0;
}

.ewj-issue-line-issue-type-grid {
  grid-area: slot;
  display: inline-flex;
  opacity: calc(1 - var(--action-opacity, 1));
  pointer-events: none;
}

.ewj-issue-line-issue-type-img {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 16px;
  height: 16px;
}

/* Estilos da chave da issue */
.ewj-issue-line-card-view-key {
  outline-color: currentColor;
  outline-style: none;
  outline-width: medium;
  margin-left: var(--ds-space-100, 8px);
  color: var(--ds-link, #0052cc);
  font: var(--ds-font-body-UNSAFE_small, normal 400 9pt/1pc ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif);
  font-weight: var(--ds-font-weight-medium, 500);
  white-space: nowrap;
  text-decoration-color: initial;
  text-decoration-line: none;
  text-decoration-style: solid;
}

/* Estilos do resumo da issue */
.ewj-issue-line-card-view-summary {
  margin-left: var(--ds-space-100, 8px);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: var(--ds-space-200, 1pc);
}

.ewj-issue-line-card-view-summary-a {
  color: var(--ds-link, #0052cc);
  text-decoration: none;
}

.ewj-issue-line-card-view-summary-span {
  display: flex;
  box-sizing: border-box;
  gap: var(--ds-space-150, 12px);
  /* -webkit-box-align: center; */
  align-items: center;
  flex-direction: row;
  /* -webkit-box-pack: justify; */
  justify-content: space-between;
  width: 100%;
  /* -webkit-box-flex: 1; */
  flex-grow: 1;
}

.ewj-issue-line-card-view-summary-div {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  justify-content: center;
  width: 100%;
  /* -webkit-box-flex: 1; */
  flex-grow: 1;
  outline: none;
  overflow: hidden;
  text-align: left;
}

.ewj-linkedIssue-fields-summary {
  font: var(--ds-font-body, normal 400 14px / 20px ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Estilos do responsável */
.ewj-issue-line-card-read-only-assignee-inner {
  display: inline-block;
  position: relative;
  outline: 0px;
}

.ewj-issue-line-card-assignee-inner {
  height: 24px;
  width: 24px;
  /* -webkit-box-align: stretch; */
  align-items: stretch;
  background-color: var(--ds-surface-overlay, #FFFFFF);
  border-radius: 50%;
  box-sizing: content-box;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  /* -webkit-box-pack: center; */
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: static;
  transform: translateZ(0px);
  transition: transform 200ms, opacity 200ms;
  box-shadow: 0 0 0 2px var(--ds-surface-overlay, #FFFFFF);
  border: none;
  margin: var(--ds-space-025, 2px);
  padding: var(--ds-space-0, 0px);
}

.ewj-issue-line-card-assignee-inner::after {
  background-color: transparent;
  inset: 0px;
  border-radius: 50%;
  content: " ";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 200ms;
  width: 100%;
}

.ewj-issue-line-card-assignee-image {
  border-radius: 50%;
}

/* Estilos do status */
.ewj-issue-line-card-status-field-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-left: var(--ds-space-050, 4px);
}

.ewj-issue-line-card-view-button-status {
  -webkit-box-align: baseline;
  align-items: baseline;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 10px;
  font-style: normal;
  font-family: inherit;
  font-weight: var(--ds-font-weight-medium, 500);
  max-width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  width: auto;
  /* -webkit-box-pack: center; */
  justify-content: center;
  background-color: transparent;
  box-shadow: transparent 0px 0px 0px 2px;
  color: var(--ds-text, #42526E) !important;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  white-space: nowrap;
  padding: 0px;
  outline: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

.ewj-issue-line-card-view-button-span {
  opacity: 1;
  transition: opacity 0.3s;
  margin: 0px 2px;
  /* -webkit-box-flex: 1; */
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ewj-issue-line-card-view-button-span2 {
  display: flex;
  /* -webkit-box-align: center; */
  align-items: center;
}

.ewj-issue-fields-status-lozenge {
  display: flex;
  width: 100%;
}

.ewj-issue-line-card-view-button-span3 {
  border-radius: var(--ds-border-radius, 3px);
  box-sizing: border-box;
  display: inline-block;
  font-weight: var(--ds-font-weight-bold, 700);
  max-width: 100%;
  padding: 0px;
  text-transform: uppercase;
  vertical-align: top;
}

.ewj-issue-line-card-view-button-span4 {
  box-sizing: border-box;
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  padding: 0 var(--ds-space-050, 4px);
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.ewj-issue-line-card-view-button-status-color {
  align-items: center;
  display: contents;
}

/* Cores do status */
.ewj-status-color-new {
  color: rgb(68, 84, 111);
}

.ewj-status-bg-color-new {
  background-color: rgb(223, 225, 230);
}

.ewj-status-color-indeterminate {
  color: rgb(0, 85, 204);
}

.ewj-status-bg-color-indeterminate {
  background-color: rgb(233, 242, 255);
}

.ewj-status-color-done {
  color: rgb(20, 137, 44);
}

.ewj-status-bg-color-done {
  background-color: rgb(227, 252, 239);
}

.ewj-status-color-other {
  color: rgb(64, 84, 178);
}

.ewj-status-bg-color-other {
  background-color: rgb(227, 252, 239);
}

/* Estilos do label de itens vinculados no tooltip */
.ewj-issue-tooltip-linked-items-label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ewj-issue-tooltip-div1 {
  gap: var(--ds-space-100, 8px);
}

/* Estilos do label de pesquisa de issue */
.ewj-issue-link-search-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--ds-space-025, 2px);
}

/* Estilos do título de itens vinculados */
.ewj-title-linked-items {
  font: var(--ds-font-heading-small, normal 600 1pc/20px ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, system-ui, "Helvetica Neue", sans-serif);
  color: var(--ds-text, #172b4d);
  overflow-wrap: break-word;
  min-width: 0;
}

.ewj-issue-tooltip-div2 {
  display: flex;
  align-items: center;
}

.ewj-issue-link-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--ds-space-025, 2px);
}

.ewj-margin-top-8 {
  margin-top: var(--ds-space-100, 8px);
}

.ewj-bg-color-neutral-subtle-hovered:focus-within,
.ewj-bg-color-neutral-subtle-hovered:hover {
  background-color: var(--ds-background-neutral-subtle-hovered, #ebecf0);
}

.ewj-text-decoration-color-initial:focus-within,
.ewj-text-decoration-color-initial:hover {
  text-decoration-color: initial;
}

.ewj-text-decoration-line-none:focus-within,
.ewj-text-decoration-line-none:hover {
  text-decoration-line: none;
}

.ewj-text-decoration-style-solid:focus-within,
.ewj-text-decoration-style-solid:hover {
  text-decoration-style: solid;
}

.ewj-bg-color-neutral-subtle-pressed:active {
  background-color: var(--ds-background-neutral-subtle-pressed, #deebff)
}


/* --- Animações --- */
/* Remover animações pode impactar na usabilidade. Considere manter se possível. */

/* Animação inicial (k1m8j3od) para os componentes na renderização inicial */
[data-component-selector=jira-issue-field-edit-field-edit-button],
[data-component-selector=jira-issue-field-icon-popup-wrapper],
[data-component-selector=jira-issue-field-pin-field-pin-button] {
  animation: k1m8j3od .15s linear forwards;
}

/* Animação de interação (kgnpaw5) para os componentes em hover e focus */
:hover [data-component-selector=jira-issue-field-edit-field-edit-button],
:hover [data-component-selector=jira-issue-field-icon-popup-wrapper],
:hover [data-component-selector=jira-issue-field-pin-field-pin-button],
:focus-within [data-component-selector=jira-issue-field-edit-field-edit-button],
:focus-within [data-component-selector=jira-issue-field-icon-popup-wrapper],
:focus-within [data-component-selector=jira-issue-field-pin-field-pin-button],
:focus [data-component-selector=jira-issue-field-edit-field-edit-button],
:focus [data-component-selector=jira-issue-field-pin-field-pin-button] {
  animation: kgnpaw5 .15s linear forwards;
}

@keyframes k1m8j3od {
  0% {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes kgnpaw5 {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}